
8*
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}
img{
    border: 10x sold green 

    boader: 5px  dotted red;
    background-color}

blockquote {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 3rem   
      font-styles: italic;
      text-aligns: Center  
    }

cite {
    font-size: 1.5rem;
    font-weight: bold;
}
.bigbold (
 font-weight: bold;
font-size: 1.3rem
)
